.wrapper{
  width: auto;
  padding: 10px;
}

.content{
  width: 93%;
  margin: auto;
  padding: 10px;
  background: #222d32;
  border-radius: 5px;
  position: relative;

  input{
    width: 95%;
    border-radius: 5px;
    background: rgb(240, 240, 240);
    line-height: 20px;
    text-indent: 5px;
  }

  img{
    position: absolute;
    right: 0;
    margin-right: 22px;
    width: 20px;
    height: 20px;
    bottom: 0;
    margin-bottom: 14px;
  }
}
