<div class="wrapper">
  <div class="content">
      <input #searchCriteria type="text" [formControl]="searchCriteriaControl">
      <img src="assets/search.png" (click)="onSearchClicked(searchCriteria.value)">
  </div>
</div>
