<div class="container">
  <div *ngFor="let detail of details;">
    <div class="left-column">
      <label>{{detail.label}}:</label>
    </div>
    <div class="right-column">
      <span>{{detail.descr}}</span>
    </div>
  </div>
  <div class="left-column">
      <label>{{linkLabel}}:</label>
    </div>
    <div class="right-column">
      <img class="img-link" src="assets/url.png" (click)="openInNewTab(url)">
    </div>
</div>
