.container{
  clear: both;
  padding-top: 5px;
}

.left-column{
  float: left;
  width: 80px;
  height: 100%;

  label{
    font-weight: 500;
  }
}

.right-column{
  margin-left: 80px;

  p{
    margin: 0px;
  }
}

.img-link{
  width: 18px;
  height: 18px;
  margin-top: 2px;
}
