<div class="table-wrapper">
    <table>
      <tr>
          <th colspan="5">Formula 1 2013 Results</th>
        </tr>
      <tr>
        <th (click)="sortBy('round')">Round</th>
        <th (click)="sortBy('raceName')">Grand Prix</th>
        <th (click)="sortBy('Results,Constructor,name')">Team</th>
        <th (click)="sortBy('Results,grid')">Grid</th>
        <th (click)="sortBy('Results,position')">Race</th>
      </tr>
      <tr *ngFor="let race of races">
        <td>{{race.round}}</td>
        <td>{{race.raceName}}</td>
        <td>{{race.Results[0]?.Constructor.name}}</td>
        <td>{{race.Results[0]?.grid}}</td>
        <!-- <td dsBackgroundColor [index]="race.Results[0]?.position">{{race.Results[0]?.position}}</td> set the background color according to position -->
        <td>{{race.Results[0]?.position}}</td>
      </tr>
    </table>
  </div>
