.table-wrapper{
  padding: 15px;
}

table {
  width: 95%;
  margin: auto;
  background: #fff;
  border-radius: 5px;

  th{
    font-size: 18px;
    text-align: left;
    background: rgb(214, 214, 214)
  }

  tr th,td{
    padding: 4px;
  }
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
}
