<ds-search (searchClicked)="onSearchClicked($event)"></ds-search>

<div class="table-wrapper">
  <table>
    <tr>
        <th colspan="4">Drivers Championship Standings - 2013</th>
      </tr>
    <tr>
      <th>#</th>
      <th (click)="sortBy('Driver,givenName')">Driver</th>
      <th (click)="sortBy('Constructors,name')">Constructor</th>
      <th (click)="sortBy('wins')">Wins</th>
    </tr>
    <tr *ngFor="let driverStanding of driverStandings;let i = index;">
      <td>{{i + 1}}</td>
      <td (click)="onDriverNameClicked(driverStanding)">{{getDriverName(driverStanding.Driver)}}</td>
      <td>{{getContructorName(driverStanding.Constructors)}}</td>
      <td>{{driverStanding.wins}}</td>
    </tr>
  </table>
</div>
