<section class="sidebar-block">
  <div class="header">
      <ds-header [header]="sidebarInfo.header" ng-if="sidebarInfo"></ds-header>
  </div>
    <ds-details [details]="sidebarInfo.details" [url]="sidebarInfo.url" [isDriver]="sidebarInfo.isDriver"></ds-details>
</section>
