 .sidebar-block{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-bottom: solid #1f292e 4px;
  overflow: auto;
  padding: 20px;

}

.header{
  height: 65px;
}
