.wrapper{
  min-height:100%;
  width:100%;
  position:relative;
}

.sidebar
{
  width:250px;
  top:0px;
  left:0px;
  bottom:0px;
  position:absolute;
  background-color:#222d32;
  color: #fff;
}

.content
{
  margin-left: 250px;
  position:relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
