$img-main-size: 65px;

.container{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.left-column{
  float: left;
  width: 80px;
  height: 100%;
}

.right-column{
  margin-left: 80px;

  p{
    margin: 0px;
  }
}

.img-main{
  width: $img-main-size;
  height: $img-main-size;
}

.img-nationality{
  width: 32px;
  height: 24px;
  margin-top: 2px;
}

img{
  border:solid #1f292e;
  border-radius: 4px;
}
