<div class="container">
    <div class="left-column">
        <div>
          <img class="img-main" [src]="header.image">
        </div>
      </div>
      <div class="right-column">
        <div>
          <img class="img-nationality" [src]="header.nationalityImage">
        </div>
        <p>{{header.name}}</p>
      </div>
</div>
